<div [ngClass]="'toolbar'">
  <button (click)="save()">Save</button>
  <button (click)="load()">Load</button>
  <button *ngFor="let layer of map; let i = index" (click)="selectLayer(i)"
          [ngClass]="selectedLayer===i?'active':''">{{i + 1}}</button>
  <button *ngFor="let layer of map; let i = index" (click)="setLayerVisibility(i)"
          [ngClass]="layerVisibility[i]?'active':''">{{i + 1}}</button>
</div>
<div [ngClass]="'map'">
  <table [ngStyle]="{width: (width*70)+'px'}">
    <tr *ngFor="let row of map[0]; let iRow = index">
      <td *ngFor="let cell of row; let iCell = index" (click)="setTile(selectedLayer, iRow, iCell, selectedTile)">
        <app-tile *ngFor="let layer of map; let iLayer = index" [tileOption]="map[iLayer][iRow][iCell]"
                  [ngClass]="layerVisibility[iLayer]?'':'hidden'"></app-tile>
      </td>
    </tr>
  </table>
</div>
<div [ngClass]="'tileList'">
  <div [ngClass]="'tileListItem'">
    <app-tile [tileOption]="selectedTile"></app-tile>
  </div>
  <div [ngClass]="'tileListItem'" *ngFor="let tileOption of tileSetOptions.tileOptions">
    <app-tile [tileOption]="tileOption"
              (click)="selectTile(tileOption)"></app-tile>
  </div>
</div>
