:host {
    background-color: #800080;
    display: flex;
    position: sticky;
    width: 100%;
    line-height: 2em;
    font-family: PV, arial, serif;
    font-size: 1.6em;
    top: 0;
    padding: 0 1em;
}
