@font-face {
    font-family: spaceFont;
    src: url(/assets/Red_Seven.otf);
}
@font-face {
    font-family: monoFont;
    src: url(/assets/NotoMono-Regular.ttf);
}

body {
    background-color: #000;
    text-align: center;
}

canvas {
    display:inline-block;
    margin: auto;
    border: solid 1px #444;
}