#MapEditor {
    background: whitesmoke;
    font-family: monoFont;
}

#MapEditor {
    display: block;
}

#MapEditor .topPane {
    background-color: burlywood;
}

#MapEditor .middlePane {
    display: flex;
    max-height: 800px;
}

#MapEditor .leftPane {
    flex: 1 1;
    overflow: auto;
}

#MapEditor .rightPane {
    background-color: antiquewhite;
    flex: 0 0 400px;
    overflow: auto;
}

.selectTile {
    display: flex;
}

.selectTile:hover {
    background-color: wheat
}

.selectTile.selected {
    background-color: cornflowerblue;
}

.selectTile > span {
    margin: 5px;
    overflow: hidden;
    background-repeat: no-repeat;
}
