table {
    border-collapse: collapse;
}

tr {
    max-height: 70px;
    min-height: 70px;
}

td {
    cursor: pointer;
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    border: 1px solid;
    font-size: 8px;
    text-align: right;
    vertical-align: top;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

td:hover {
    background-color: cornflowerblue;
}
